<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>SaM - Info</title>
    <script src="./../../contents/lib/angular.js"></script>
    <script src="./../../contents/lib/angular-route.js"></script>
    <script src="./../../contents/lib/underscore.js"></script>
    <script src="./../../contents/lib/moment.js"></script>
    <script src="./../../contents/lib/angular-moment.js"></script>
    <script src="./../../contents/lib/UnderscoreService.js"></script>
    <script src="./../../contents/lib/jquery.js"></script>
    <script src="./../../contents/lib/bootstrap.js"></script>
    <script src="./../../contents/lib/ng-table/dist/ng-table.js"></script>
    <script src="./../../contents/lib/angular-cookies"></script>
    <script src="./../../app/app.js"></script>

    <link href="./../../contents/images/logo.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="./../../contents/css/bootstrap.css" rel="stylesheet">
    <link href="./../../contents/css/fr.css" rel="stylesheet">
    <link href="./../../contents/lib/ng-table/dist/ng-table.min.css" rel="stylesheet">
    <link href="./../../contents/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body ng-app="sam" class="index" style="padding: 20px;">

<div ng-include="'./../views/partials/_header.html'"></div>

<div class="container-fluid">
    <div class="row">
        Login Successfull!!!!
        <hr/>
    </div>
</div>
</body>
</html>
