<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>SaM - Shift Plan</title>
    <script src="./../../contents/lib/angular.js"></script>
    <script src="./../../contents/lib/angular-route.js"></script>
    <script src="./../../contents/lib/underscore.js"></script>
    <script src="./../../contents/lib/moment.js"></script>
    <script src="./../../contents/lib/angular-moment.js"></script>
    <script src="./../../contents/lib/UnderscoreService.js"></script>
    <script src="./../../contents/lib/jquery.js"></script>
    <script src="./../../contents/lib/bootstrap.js"></script>

    <script src="./../../app/app.js"></script>

    <link href="./../../contents/images/logo.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="./../../contents/css/bootstrap.css" rel="stylesheet">
    <link href="./../../contents/css/fr.css" rel="stylesheet">
    <link href="./../../contents/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>
<body ng-app="sam" class="index" style="padding: 20px;" ng-controller="shiftController as shiftCtrl">

 <div ng-include="'./../views/partials/_header.html'" ng-init="vm='s'"></div>

 <div class="container-fluid">
     <div clas="row">
         Shift wise details
     </div>

 <div style="text-align: center; color: #138D75;">
   {{shiftCtrl.message}} <b>{{shiftCtrl.dateRange}}</b>
 </div>
 <br/>
 <div class="table-responsive">
  <table class="table table-striped">
   <tr>
     <th style="display:none;">userId</th>
     <th style="color: #138D75;">User</th>
     <th ng-repeat="th in shiftCtrl.days" style="color: #138D75;">{{th.date}}</th>
   </tr>
   <tr ng-repeat="x in shiftCtrl.weeksShift">
     <td style="display: none">{{ x.userid }}</td>
     <td><a style="cursor:pointer" data-toggle="modal" data-target="#userModal" data-backdrop="static" data-keyboard="false" class="abc" data-user="{{x}}">{{ x.username }}</a></td>
     <td ng-repeat="th in shiftCtrl.days" style="color: #873600;">
          {{ x[th.id] }}
     </td>
   </tr>
 </table>
 </div>

<!-- Modal -->
 <div id="userModal" class="modal fade" role="dialog">
     <div class="modal-dialog">
         <div class="modal-content">
             <div class="modal-header">
                 <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                 <h4 class="modal-title" style="color:dodgerblue">User Info</h4>
             </div>
             <div class="modal-body" style="background-color: whitesmoke">
                 <div class="row" style="text-align: left;">
                     <div class="col-md-4">
                         <div class="row" style="text-align: center; vertical-align: middle; padding: 10px;">
                             <img id="userImg" style="height: 150px; width: 150px;border: 8px solid #EBEBEB; border-radius: 5px"/>
                         </div>
                         <br/>
                     </div>
                     <div class="col-md-8">
                         <div class="row"><span class="col-md-4" style="color:dodgerblue;">Employee Id</span> <span class="col-md-8" style="color: black" id="userEmpId"></span></div>
                         <div class="row"><hr/></div>
                         <div class="row"><span class="col-md-4" style="color:dodgerblue;  ">Name</span> <span class="col-md-8" style="color: black" id="userName"></span></div>
                         <div class="row"><hr/></div>
                         <div class="row"><span class="col-md-4" style="color:dodgerblue;   ">Email Id</span> <span class="col-md-8" style="color: black" id="userEmail"></span></div>
                         <div class="row"><hr/></div>
                         <div class="row"><span class="col-md-4" style="color:dodgerblue;   ">Contact</span> <span class="col-md-8" style="color: black" id="userContact"></span></div>
                     </div>
                 </div>
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
             </div>
         </div>
     </div>
 </div>

 </div>

<script>

    $(document).on("click", ".abc", function () {
        var user = $(this).data('user');
        $("#userImg").attr("src", user.imgPath);
        $("#userEmpId").text(user.employeeid);
        $("#userName").text(user.username);
        $("#userEmail").text(user.email);
        $("#userContact").text(user.contact);
    });

</script>

</body>
</html>
