<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SaM - 404</title>
    <link href="./../../contents/css/404.css" rel="stylesheet">
    <link href="./../../contents/images/logo.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="./../../contents/css/bootstrap.css" rel="stylesheet">
    <link href="./../../contents/css/fr.css" rel="stylesheet">
    <link href="./../../contents/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>
<body >
<div class="error_box_wrap">
    <div class="robot-wrap">
        <div class="robot-head">
            <div class="robot-head-with-gradient"></div>
            <div class="left-eye"></div>
            <div class="right-eye"></div>
            <div class="robot-mouth"></div>
        </div>
        <div class="robot-body-wrap">
            <div class="body-right-wire"></div>
            <div class="robot-body"></div>
            <div class="left-hand">
                <div class="left-top-hand-brokenness"></div>
                <div class="left-top-hand"></div>
                <div class="left-bottom-hand"></div>
            </div>
            <div class="right-hand">
                <div class="right-hand-wire"></div>
                <div class="right-top-hand"></div>
                <div class="right-bottom-hand"></div>
            </div>
            <div class="left-top-hand"></div>
        </div>
        <div class="right-hand-shadow"></div>
        <div class="robot-body-bottom-brokenness"></div>
        <div class="robot-body-bottom"></div>
    </div>
    <div class="error_box">
        <a class="logo" href="/">
            <img alt="SaM" src='./../../contents/images/logo.ico' height="100px" width="100px">
        </a>
        <p class="error-number">404</p>
        <p class="error-text">… Oops! Something is missing</p>
        <p class="go-home">
            <a href="/">Home</a>
        </p>
    </div>
</div>
</body>
</html>