<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <li class="icon-bar"></li>
                <li class="icon-bar"></li>
                <li class="icon-bar"></li>
            </button>
            <a class="navbar-brand" href="/" target="_self">
                <div><img alt="Brand" src="./../../contents/images/logo.ico" style="height: 24px; width: 24px;">
                    SaM
                </div>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" ng-controller="loginController as loginCtrl">
            <ul class="nav navbar-nav">
                <li id="infoHead" ng-class="{active: vm == 'i'}"><a href="./views/info" target="_self">Info <span class="sr-only">(current)</span></a></li>
                <li id="shiftHead" ng-class="{active: vm == 's'}"><a href="./views/shiftplan" target="_self">Shift Plan</a></li>
                <li id="kHead" ng-class="{active: vm == 'k'}"><a href="./views/partials/_error.html" target="_self">KEDB</a></li>
                <li id="AdminHead" ng-class="{active: vm == 'a'}"><a href="./views/admin/admin.html" target="_self">Admin</a></li>
                <li id="logout" ng-hide="loginCtrl.loginHide" ><a id="loginHead" style="cursor:pointer;margin-left: 821px" data-toggle="modal"  ng-click="loginCtrl.logout()" >Logout</a></li>
            </ul>
        </div>
    </div>
</nav>