<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>SaM - Info</title>
    <script src="./../../contents/lib/angular.js"></script>
    <script src="./../../contents/lib/angular-route.js"></script>
    <script src="./../../contents/lib/underscore.js"></script>
    <script src="./../../contents/lib/moment.js"></script>
    <script src="./../../contents/lib/angular-moment.js"></script>
    <script src="./../../contents/lib/UnderscoreService.js"></script>
    <script src="./../../contents/lib/jquery.js"></script>
    <script src="./../../contents/lib/bootstrap.js"></script>
    <script src="./../../app/app.js"></script>

    <link href="./../../contents/images/logo.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="./../../contents/css/bootstrap.css" rel="stylesheet">
    <link href="./../../contents/css/fr.css" rel="stylesheet">
    <link href="./../../contents/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body ng-app="sam" class="index" style="padding: 20px;" ng-controller="infoController as infoController">

<div ng-include="'./../views/partials/_header.html'" ng-init="vm='i'"></div>

<div class="container-fluid">
    <div class="row">
        This is the place where you will find all the information for the project.
        <hr/>
    </div>

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading" style="background: #BFDDE8;">
            <h4 class="panel-title">
                <a class="accordion-toggle" style="display:block; color: white;font-weight: normal;" data-toggle="collapse" data-parent="#accordion" href="#userInfo">
                    User Info
                    <i class="indicator fa fa-chevron-down" aria-hidden="true" style="float: right"></i>
                </a>
            </h4>
        </div>
        <div id="userInfo" class="panel-collapse collapse in">
            <div class="panel-body">
                <div ng-include="'./../views/partials/_userInfo.html'"></div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" style="background: #BFDDE8;">
            <h4 class="panel-title">
                <a class="accordion-toggle" style="display:block; color: white; font-weight: normal;" data-toggle="collapse" data-parent="#accordion" href="#dbInfo">
                    Server Info
                    <i class="indicator fa fa-chevron-up" aria-hidden="true" style="float: right"></i>
                </a>
            </h4>
        </div>
        <div id="dbInfo" class="panel-collapse collapse">
            <div class="panel-body">
                <div ng-include="'./../views/partials/_serverInfo.html'"></div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" style="background: #BFDDE8;">
            <h4 class="panel-title">
                <a class="accordion-toggle" style="display:block; color: white;font-weight: normal;" data-toggle="collapse" data-parent="#accordion" href="#serverInfo">
                    Database Info
                    <i class="indicator fa fa-chevron-up" aria-hidden="true" style="float: right"></i>
                </a>
            </h4>
        </div>
        <div id="serverInfo" class="panel-collapse collapse">
            <div class="panel-body">
                <div ng-include="'./../views/partials/_dbInfo.html'"></div>
            </div>
        </div>
    </div>
</div>

</div>
<script>
    function toggleChevron(e) {
        $(e.target)
                .prev('.panel-heading')
                .find("i.indicator")
                .toggleClass('fa-chevron-up fa-chevron-down');
    }
    $('#accordion').on('hidden.bs.collapse', toggleChevron);
    $('#accordion').on('shown.bs.collapse', toggleChevron);
</script>

</body>
</html>
